.LayoutPerfil{
    width: 100%;
    display: flex;
    overflow-y: auto;  
    position: relative;
    overflow: hidden;

 
}
.enlaces{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.botonVolver{
    position: absolute;
    top: 1%;
    left: 1%;
}
.main{
    width: 50%;
 height: 100%;
}
.fondoDinamico{
    z-index: -1;
}




@media screen and (max-width:800px){
  
  .enlaces{
    width: 100%;
    flex-direction: row;
    gap: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .LayoutPerfil{
    width: 100%;
    display: flex;
    overflow-y: auto; 
    padding: 30px; 
}
.botonVolver{
    position: absolute;
    top: 1%;
    left: 1%;
}

}

@media screen and (max-width:414px){
  
    .enlaces{
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  
    
  
  }