.container__detalle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    padding: 20px;
    gap: 40px;  
    position: relative;
}
.botonVolver__detalle{
    position: absolute;
    top: 2%;
    left: 1%;
}
