.detalle{
    width: 100%;
    height: auto;
    overflow-y: auto;
}
.container__detalle{
    padding: 80px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.detalle__chat{
    width: 100%;
    padding: 10px;
}
.detalle__botonVolver{
    padding: 10px;
}

