.formulario__iniciarSesion{
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #32c7de4c;
    padding: 20px;
    border-radius: 4px;
    color: white;
}
.formulario__iniciarSesion h1, h4, h6{
    color: white;
}
.inputs__formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.inputs__formulario input{
    height: 45px;
    width: 300px;
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    background-color: #32c7de4c;
    color: white;
    letter-spacing: 1px;
    
}
.inputs__formulario input::placeholder{
 color: white;
    
}
.formulario__info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}