.container__headerPerfil{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    height: 100%;
    width: auto;
    justify-content: center;
}
.headerPerfil{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.headerPerfil__info{
    color: white;
}
.container__modales{
    display: flex;
    gap: 10px;
}


@media screen and (max-width:800px){
    .container__headerPerfil{
        display: flex;
        flex-direction: column;
        gap: 15px; 
        height: 100%;
        justify-content: start;
        margin-top: 70px;
    }
}



