*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-color: #01002e;
  overflow: hidden;
}

.navBar{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container__app{
  width: 100%;
  height: 100vh;
  display: flex;
}
.main{
 width: 100%;
}
.fondoDimanico__contain{
  z-index: -10;
  position: fixed;
}




.container__home{
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 50px;
  padding-top: 100px;
  overflow-y: scroll;
}
.home__tarjetas{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.home__user img{
  width: 70px;
  border-radius: 7px;
  border: 2px solid purple;
  padding: 2px;
}
.home__user h1{
 color: white;
 font-size: 15px;
}

.fondoDinamico{
  z-index: -1;
}