.loginUsuario{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    display: flex;
    overflow-x: hidden;
}


@media screen and (max-width: 900px){
    .loginUsuario{
        width: 100%;
        gap: 50px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 50px;
        overflow-y: auto;
    }
}