.fondoDimanico__contain{
    z-index: -10;
    position: fixed;
  }
  
   .container__home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center; 
    padding-top: 100px;
    overflow-y: scroll;
    gap: 30px;
  }
  .home__user{
    width: 20vw;
  }
  .home__tarjetas{
    display: flex;
    width: 50vw;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .home__user img{
    width: 70px;
    border-radius: 7px;
    border: 2px solid purple;
    padding: 2px;
  }
  .home__user h1{
   color: white;
   font-size: 15px;
  }
  
  .fondoDinamico{
    z-index: -1;
  }
  .container__modalResponsive{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
  }
 

  @media screen and (max-width:1000px){
    .container__modalResponsive{
      width: 100%;
      display: none;
      align-items: center;
      padding: 25px;
      justify-content: space-between;
      padding-left: 70px;
      padding-right: 70px;
    }


}


@media screen and (max-width:600px){
  .container__home{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; 
    padding-top: 0px;
    overflow-y: scroll;
    gap: 30px;
  }
  .container__modalResponsive{
    display: flex;
  }
  .container__filtroBusqueda{
    display: none;
  }
  .container__usuario{
    display: none;
  }

  .home__tarjetas{
    display: flex;
    width: 85vw;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }


}


@media screen and (max-width:414px){

  .container__modalResponsive{
    display: flex;
  }
  .container__filtroBusqueda{
    display: none;
  }
  .container__usuario{
    display: none;
  }

  .home__tarjetas{
    display: flex;
    width: 85vw;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .container__modalResponsive{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }

  


}