.container__modalEditar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: auto;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5); /* El valor 24 en boxShadow se convierte en una sombra con radio de 24px */
    padding: 25px; /* p: 4 se convierte en padding de 16px (4 * 4) */
    border-radius: 10px;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    border: 2px solid white;
    align-items: center;
    border: 1px solid red;

}

.container__modalEditar__Perfil img{
    width: 250px;
    height: 250px;
    border: 3px solid purple;
    border-radius: 10px;
}

.botonEnviarMensaje{
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    background-color: rgba(128, 0, 128, 0.564);
    color: white;
    letter-spacing: 2px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;

}


.botonEnviarMensaje:hover{
    background-color: rgba(128, 0, 128, 0.701);
}

.tarjetaHistoria__user{
    color: white;   
    display: flex;
    align-items: center;
    gap: 8px;
    display: flex;
    width: 250px;
    cursor: pointer;

}
.tarjetaHistoria__user img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 2px solid purple;

}
.tarjetaHistoria__user__info h1{
    font-size: 15px;

}

